[submodule "colcon_ws/src/urdf_web_viewer/third_party/urdf-loaders"]
	path = colcon_ws/src/urdf_web_viewer/third_party/urdf-loaders
	url = https://github.com/gkjohnson/urdf-loaders.git
[submodule "scripts/ThirdParty/camera_calibration_toolkit"]
	path = scripts/ThirdParty/camera_calibration_toolkit
	url = https://github.com/yizhongzhang1989/camera_calibration_toolkit.git
[submodule "scripts/ThirdParty/robot_vision"]
	path = scripts/ThirdParty/robot_vision
	url = https://github.com/yizhongzhang1989/robot_vision.git
