<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gcr5_910">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import gcr5_910 urdf file -->
    <xacro:include filename="$(find duco_support)/urdf/duco_gcr5_910.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="gcr5_910.ros2_control.xacro" />


    <xacro:gcr5_910_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
