<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_arms">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dual_arms urdf file -->
    <xacro:include filename="$(find duco_support)/urdf/dual_arms.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual_arms.ros2_control.xacro" />


    <xacro:dual_arms_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
